<ion-header>
    <ion-toolbar color="primary">
        <ion-title style="text-align: center">
          <div id="title">
          <img src="assets/ddd.png"style="width:10%;" >
        COFFEE HOUSE
        </div>

    </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="height: 50%;">
    <img src="assets/o.gif" style="width:100%;height: 100%;">
   
    <div class="centered">
      <br>
      <h1>Welcome</h1>
    </div>
  </div>

  <ion-grid style="background-color: #070404">
    <ion-row>
      <ion-col >
          <img src="assets/oo.png" style="width:40%" routerLink="/coffees">
          <br>
       <h2 routerLink="/coffee">manu</h2>
      </ion-col>
      <ion-col>
         
          <img src="assets/lll.png" style="width:40%">
          <br>
       <h2>reward</h2>
      </ion-col>
     
      
    </ion-row>
  
    <ion-row>
      <ion-col >
          <img src="assets/i.png" style="width:40%">
          <br>
       <h2> location</h2>
      </ion-col>
      <ion-col>
          <img src="assets/u.png" style="width:40%">
          <br>
      <h2>  scan to pay</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
